/* You can add global styles to this file, and also import other style files */

   body {background-color: powderblue;}
    h1 {color: red;}
    p {color: blue;}
  
  header{
text-align:left;
    font-color:blue ;
    background-color:none;
}
nav{
   text-align:right;
    font-color:red;
    background-color: none;
}